 body,
 html {
     margin: 0;
     padding: 0;
     height: 100vh;
     width: 100%;
 }



 h2 {
     font-size: 24px;
     color: #333;
 }

 #homePicture {
     display: flex;
     justify-content: center;
     gap: 15px;
     margin-top: 20px;
     margin-left: 20px;
 }

 #homePicture img {
     width: 500px;
     height: 500px;
     border-radius: 10px;
     object-fit: cover;
     transition: transform 0.3s ease-in-out;
 }

 #homePicture img:hover {
     transform: scale(1.1);
 }