#topbar {
    display: flex;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}

#topbar h1 {
    color: white;
    margin-left: 20px;
}

#title-img {
    object-fit: contain;
}