
#topbar{
    display: flex;
    background-color: black;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    left: 0;
    right: 0;
    top:0
    
    
}
#topbar h1{
    color: white;
    margin-left: 20px;
}
#title-img{
    object-fit: contain;
}

